@import url(https://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300);
@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

body, html{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

@media (min-width: 1200px){
	.container {
	width: 1100px;
	}
}

h1{
	text-transform: uppercase;
}

h2{
	margin:  0;
}

h4 {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 700;
	color: #2196F3;
}
p{
	font-size: 13px;
}

a {
	color: #ffffff;
	transition: all 0.2s;
}
a:hover,
a:focus{
	color: #2196F3;
	text-decoration: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* Home Style */
#tf-home{
	background: url("../img/webheader.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
	position: relative;
}

#tf-home .overlay{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	height: auto;
	background-attachment: fixed;
}

.content{
	padding: 15% 0 18% 0;
	text-align: center;
	text-shadow: 0 0 200px #2196F3, 0 0 70px #2196F3;
	-webkit-transform: translate3d(0,0,0); /* use GPU for the text-shadow since it's super hard work */
}
.content.btn {
	text-shadow: none;
}
/* Navigation */
#tf-menu {
	margin-bottom: 0;
	background: transparent;
	border: 0;
	color: #fff !important;
	padding: 2% 0;
	transition: all 0.5s;
}
#sticky {
    padding: 0.5ex;
    background-color: #333;
    color: #fff;
    font-size: 2em;
    border-radius: 0.5ex;
}
#tf-menu.stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    background: #222222;
    padding: 1% 0;
}
#tf-menu.navbar-default .navbar-nav > li > a {
	color: #C5C5C5;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
}

#tf-menu.navbar-default .navbar-nav > li > a:hover,
#tf-menu.navbar-default .navbar-nav > li > a:focus {
	color: #2196F3;
	background-color: transparent;
}

#tf-service{
	padding: 7% 0;
}

.media-left.media-middle i {
	padding: 20px 30px 20px 0;
	font-size: 30px;
	color: #2196F3;

}

.media-body h4 {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 700;
	color: #2196F3;
	transition: all 0.3s;
}

#tf-tournaments{
	background: #1D1D1D;
	padding: 5% 0 0 0;
	text-align: center;
}

.section-title hr{
	border-color: #2196F3;
	width: 60px;
}

.section-title h2{ font-weight: 700;}
button.btn,
a.btn,
input.btn {
	margin: 15px 5px;
	transition: all 0.5s;
	line-height: normal;
}
button.btn.btn-primary.my-btn,
a.btn.btn-primary.my-btn,
input.btn.btn-primary.my-btn {
	background: #2196F3;
	border-color: transparent;
	border-radius: 0px;
	border-width: 2px;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
}
button.btn.btn-primary.my-btn:hover,
a.btn.btn-primary.my-btn:hover,
input.btn.btn-primary.my-btn:hover{
	background: #FFFFFF;
	color: #2196F3;
	border-color: transparent;
}
button.btn.btn-primary.my-btn.dark:hover,
a.btn.btn-primary.my-btn.dark:hover{
	background-color: #aaa;
	color: #1D1D1D;
	border-color: transparent;
}
a.btn.btn-primary.my-btn2 {
	background: rgba(47, 147, 123, 0);
	border-color: #FFFFFF;
	border-radius: 0px;
	border-width: 2px;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
	color: #FFFFFF;
}

a.btn.btn-primary.my-btn2:hover{
	background: #2196F3;
	color: #ffffff;
	border-color: transparent;
}

ul.cat.list-inline li a {
	border: 1px solid #2196F3;
	padding: 5px 15px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color: #2196F3;
	transition: all 0.5s;
}

ul.cat.list-inline li a:hover{
	background: #2196F3;
	color: #ffffff;
}

.space{ padding: 20px}
.toppadding{ padding-top: 30px}
.nopadding{ padding:  0;}

#tf-about{
	background-color: #2A2A2A;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	color: #aaa;
}

#tf-about .overlay, #tf-video .overlay{
	height: auto;
	background-attachment: fixed;
	padding: 3% 0;
}

#tf-why-me{
	background: url(../img/10.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	color: #999;
}

#tf-why-me .overlay{
	height: auto;
	background-attachment: fixed;
	padding: 5% 0;
}
ul.why-me li{
	margin: 10px 0;
}

#tf-contact{
	background: url(../img/08.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	padding: 5% 0;
	text-align: center;
}

form#contact {
	padding: 5%;
	background: #414141;
	outline: 6px solid rgba(34, 34, 34, 0.08);
}

#tf-contact input.form-control {
	height: 40px;
}

#tf-contact .form-control{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 16px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #1D1D1D;
	background-image: none;
	border: 1px solid #1D1D1D;
	border-radius: 0;
	border-top: 2px solid transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: all 0.8s;
}
#tf-contact .form-control:focus,
#tf-contact .form-control:hover{
	border-top: 2px solid #2196F3;
}
nav#tf-footer {
	background: #222222;
	padding: 3% 0 2% 0;
	color: #f1f1f1;
}

/* bucketman's extra bits */
h5 {
	font-family: 'Orbitron', sans-serif;
	font-size: 0.8vw;
}
.inline-link {
	font-weight: 700;
	color: #999;
}
.navbar-brand {
	padding: 0px;
}
@media (max-width: 759px){
	.navbar-brand {
		padding-left: 15px;
	}
}
.light {
	color: #FFF;
}
.inline-link:hover {
	color: #2196F3;
}
.team-table-cell {
	width: auto;
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
}
@media (max-width: 991px){
	.mobile-hide {
		visibility: hidden;
		display: none;
	}
	.content{
		text-shadow: none;
	}
}
.RG-Info {
	font-size: 18px;
	text-align: justify;
}
.navbar-collapse {
	border: 0px;
	border-color: rgba(0,0,0,0);
}
.signup-img img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.signup-img:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #444;
}
::-webkit-scrollbar-thumb {
    background: #777;
}
::-webkit-scrollbar-thumb:hover {
    background: #888;
}
::-webkit-scrollbar-corner {
    background: #444;
}
#feedback-form {
	margin-left: auto;
	margin-right: auto;
	width: 40vw;
	min-width: 800px;
	height: calc(100vh - 100px);
}
.form-element {
	resize: none;
	width: 100%;
	padding: 10px;
	margin: 5px;
	background-color: #aaa;
	border-color: #aaa;
	border-style: solid;
	color: #1D1D1D;
	caret-color: #1D1D1D;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.form-element:focus {
    outline-color: #2196F3;
    outline-style: auto;
    outline-width: 5px;
}
textarea.form-element {
	height: 100%;
	max-height: 80vh;
}
.form-button {
	margin-left: 10px;
}
.tournament-info {
	padding-top: 20px;
	padding-bottom: 20px;
}
#notif-banner {
	background-color: #2196F3;
	color: #1D1D1D;
	font-weight: bold;
}
#notif-banner p {
	margin: 0px;
	padding: 10px 10%;
}
#notif-banner a {
	color: #1D1D1D;
	text-decoration: underline;
}
#notif-banner a:hover{
	color: #ffffff;
}
#buy-button {
	text-align: center;
}
#buy-button td {
	padding-bottom: 10px;
	font-weight: bold;
}
#buy-button #button {
	margin-top: 10px;
}
#buy-button table {
	width: 100%;
}
#buy-button select {
	color: #1D1D1D;
	background-color: #aaa;
	font-family: 'Roboto', sans-serif;
}
#buy-button select:focus {
	background-color: #ddd;
	outline: none;
}
#buy-button select options {
	font-weight: bold;
}
#main-title {
	margin-bottom: 30px;
}
.carousel {
	text-align: center;
	margin: auto;
}
#shop-info {
	margin-top: 50px;
}
#shop-info p {
	font-size: 18px;
	font-weight: 600;
	text-align: justify;
}
button.btn.btn-primary.my-btn.grey,
a.btn.btn-primary.my-btn.grey{
	background-color: #aaa;
	color: #1D1D1D;
}
button.btn.btn-primary.my-btn.grey:hover,
a.btn.btn-primary.my-btn.grey:hover{
	color: #ffffff;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
button.btn.btn-primary.my-btn.grey.discord:hover,
a.btn.btn-primary.my-btn.grey.discord:hover{
	background-color: #7289DA;
}
button.btn.btn-primary.my-btn.grey.twitter:hover,
a.btn.btn-primary.my-btn.grey.twitter:hover{
	background-color: #1DA1F2;
}
button.btn.btn-primary.my-btn.grey.twitch:hover,
a.btn.btn-primary.my-btn.grey.twitch:hover{
	background-color: #6441A4;
}
button.btn.btn-primary.my-btn.grey.youtube:hover,
a.btn.btn-primary.my-btn.grey.youtube:hover{
	background-color: #FF0000;
}
button.btn.btn-primary.my-btn.grey.patreon:hover,
a.btn.btn-primary.my-btn.grey.patreon:hover{
	background-color: #F96854;
}
#tf-about a.btn.grey{
	display: inline-block;
	text-align: center;
	margin-right: 3px;
	margin-left: 3px;
	margin-top: 0px;
	margin-bottom: 6px;
	padding:  10px 0px;
	width: calc(20% - 6px);
	min-width: 75px;
}
#tf-about hr, #tf-video hr {
	width: 72px;
	margin-left: 0px;
	border-top-color: #2196F3;
}
#matchcode {
	text-transform: none;
	font-size: 100px;
}
#scroll-spacer {
	color: transparent;
}
#tf-service {
	background-color: #1D1D1D;
}
.header-bg {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
}
.bg-video {
	position: absolute;
	left: -10px;
	bottom: -10px;
	filter: blur(5px) brightness(0.5);
}
@media (min-width: 1090px){
	.bg-video {
		width: calc(100% + 20px);
		height: auto;
		bottom: -3vw;
	}
}
@media (max-width: 1160px) and (min-width: 1090px), (max-width: 1240px) and (min-width: 1200px){
	.bg-video {
		bottom: -10px;
	}
}
@media (max-width: 1089px){
	.bg-video {
		width: auto;
		height: calc(100% + 20px);
	}
}
@media (max-width: 720px) {
	.bg-video {
		display: none;
	}
}
.section-header {
	text-transform: uppercase;
	font-size: 36px;
	line-height: 36px;
	margin-top: 30px;
	margin-bottom: 10px;
}
#socialgap {
	margin-bottom: 20px;
}
.service-stealth:hover {
	color: #ffffff;
}
#video-row {
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#yt-video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#video-aspect {
  display:block;
  height:auto;
  width:auto;
  max-width:100%;
  max-height:100%;
}
#video-spacer {
	margin: 30px 0px;
}
#tf-video {
	background-color: #212D3A;
}
#video-info {
	padding-left: 0px;
	width: 302px;
}
#video-col {
	margin-right: 30px;
	padding: 0px;
	width: 768px;
}
@media (max-width: 1199px) {
	#video-info {
		width: 300px;
	}
	#video-col {
		width: 640px;
	}
}
#tf-partners {
	padding-bottom: 80px;
	background-color: #2A2A2A;
}
#tf-partners .row {
	padding-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#tf-partners img {
	transition: all ease 0.3s;
	border-radius: 10px;
}
#tf-partners img:hover {
	box-shadow: 0px 0px 10px #000;
}
.partner-stealth {
	color: #999;
}
.partner-stealth h3 {
	margin-top: 10px;
}
.partner-info {
	font-size: 16px;
	text-align: justify;
}
#RLCD_title:hover {
	color: #7c2582;
}
#D6_title:hover {
	color: #009EED;
}
